#myname {
	background-color: teal;
	color: white;
	font-family: Georgia, serif;
	font-size: 20pt;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#navbar {
	background: white;
    border-bottom: lightgray;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    margin: 0 auto;
   
}
#links {
	text-align: right;
	padding-top: 15px;
	padding-bottom: 15px;
	color: gray;
}
.navlinks:link, .navlinks:visited {
    color: gray;
    text-decoration: none;
}

.navlinks:hover {
    color: gray;
    text-decoration: underline !important;
}

.navlinks:active {
    color: teal;
    text-decoration: underline;
}

body {
	background-color: whitesmoke;
}
#maincontent {
	border: thin solid lightgray;
	background: white;
	margin-top: 20px;
}

h1 {
    color: teal;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 0 0 2px 0px;
    border-style: solid;
    border-color: lightgray;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.inlineimage.float-left {
	margin: 15px;
	margin-left: 0;	 
}
.inlineimage.float-left:first-of-type {
	margin-top: 0; 
}

.footer {
	border: 0px solid teal;
	border-top-width: 4px;
	background: gray;
	text-align: center;
	color: white;
	font-size: 10px;
	padding-top: 20px;
	padding-bottom: 20px;

}

@media screen and (max-width: 767px) {
	#links {
		text-align: center;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
	 .container {
		max-width: 767px;
	}

	.inlineimage {
		width: 325px;
		height: auto;
	}
	#maincontent {
		margin: 15px;
		width: calc(100% - 32px);
	}

}

@media screen and (min-width: 768px) {
	.inlineimage {
		width: 200px;
		height: auto;
	}
}

